target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.qwen/
run_output.txt
run_with_log.bat
DBTest.*
ViewerTest.*

### Secrets & Config ###
src/main/resources/db.properties
!src/main/resources/db.properties.example
src/main/resources/reports-backup01/*
src/main/resources/reports-backup02/*
src/main/resources/reports copy/*
src/main/resources/logback.xml

### Lib (downloaded JARs) ###
lib/*.jar
!lib/.gitkeep
test-output/*
